# 数据库
instance/*.db
instance/*.db-journal

# 日志
logs/*.log

# 上传文件
static/uploads/*
!static/uploads/.gitkeep

# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/

# 系统文件
.DS_Store
Thumbs.db
